#view{
  float:left;
}

#view2{
  float:right;
  margin-right: 200px;
}

#info{
  clear:both;
}

button{
  padding: 4px 4px;
}

#view3 {
    position: absolute;
    display: none;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999;
    cursor: pointer;
    margin: 50px auto;
    z-index: 999;
    padding: 10px;
}
